/* Shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.color-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-style: normal;
    padding: 15px 35px;
    font-weight: 700;
    border-radius: 5px;
    height: 64px;
    width: 150px;
    background: #FD6E0A;
    color: white;
}

/* normal styles */
.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;

}

nav a {
    text-decoration: none;

}


.header {
    background: #FFF8F3;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 20px 20px 226px;
}

.btn2 {
    display: flex;
    align-items: center;
}

.btn2 button {
    margin-right: 20px;
}

.details h3 {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
        margin-bottom: 0px;
}

.details h1 {
    color: #181818;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0;
}
.details p{
    margin-top: 20px;
}
.profile img{
    margin-right: 0;
    padding-right: 0;
}